.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dropdown-link {
  text-decoration: none !important;
}

.single-card {
  background: linear-gradient(to right, rgb(204, 150, 255), rgb(255, 250, 180));
  padding: 3px 3px !important;
  border-radius: 5px;
}
.single-card-content {
  border-radius: 5px !important;
  background-color:#5f3c6e !important;
  color: white !important;
}

.dropdowns-card {
  color: white !important;
}

.icon-in-card {
  padding-right: 15px !important;
}

.owner-name {
  color: white !important;
  text-decoration: none !important;
}

.random-class {
  width: 100% !important;
}



/* copypaste this back to index.css if problem */

.mapboxgl-popup-content{
  background: none !important;
  padding: 0 !important;
}

.popup-border {
  background: linear-gradient(to right, rgb(255, 189, 65), rgb(255, 200, 255));
  padding: 4px;
  border-radius: 10%;
  opacity: 0.9 !important;
}

.popup-content {
  margin: auto;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10%;
  background-color: white;
  min-width: 250px;
  opacity: 0.85 !important;
}

.popup-title {
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.popup-description {
  margin: 0;
  padding: 0px 20px;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.popup-owner-attendees {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 0px 20px;
}

.popup-list-title {
  text-decoration: underline;
}
.orange-text {
  color: orange;
  border-bottom: 1px solid orange;
}

/* Profile card */

/* .profile-card-border{
  background: linear-gradient(to right, rgb(255, 189, 65), rgb(255, 200, 255));
  padding: 4px !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  margin-top: 10% !important;
  border-radius: 10% !important;
  margin-bottom: 200px !important;
} */

.profile-card{
  width: fit-content;
  border-radius: 23px;
  height: fit-content;
}

.profile-container {
  height: 90vh;
}
.profile-pic{
  width: 80%;
  border-radius: 50%;
}
